<!-- <mat-toolbar color="primary" class="mat-elevation-z8 sticky-top">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Online-Exam-System</span>
  <app-header-menu class="ms-auto"></app-header-menu>
</mat-toolbar>
<mat-drawer-container autosize class="min-vh-100">
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
      <mat-list-item>
        <button mat-button><mat-icon>dashboard</mat-icon> Dashboard</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/admin/categories" routerLinkActive="active" mat-button><mat-icon>list_alt</mat-icon> Categories</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/admin/exams" routerLinkActive="active" mat-button><mat-icon>assignment_turned_in</mat-icon> Exams</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/admin/questions" routerLinkActive="active" mat-button><mat-icon>class</mat-icon> Questions</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container> -->

<app-sidbar></app-sidbar>
