<!-- <mat-toolbar class="sticky-top header">

  <button *ngIf="authSrv.isLoggedIn$ | async" (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <div class="logo d-flex">
    <img class="img-logo" src="assets/logo2.png" alt="">
    <span class="logo-text ms-3">online Exam</span>
  </div>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true">Contact Us</a>
      </li>
    </ul>
  </div>
  <button class="ms-auto" mat-button>Home</button>
  <button class="ms-4" mat-button>About</button>
  <button class="ms-4" mat-button>Contact Us</button>
  <app-header-menu *ngIf="authSrv.isLoggedIn$ | async" class="ms-4"></app-header-menu>
</mat-toolbar> -->
<!-- <mat-drawer-container >
  <mat-drawer fixedInViewport="true"  #drawer opened="true" mode="side" [style.width]="'250px'" position="start">
    <mat-nav-list>
      <mat-list-item>
        <button mat-button><mat-icon>dashboard</mat-icon> Dashboard</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/user/exams" routerLinkActive="active" mat-button><mat-icon>assignment_turned_in</mat-icon> Exams</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container> -->


<nav class="navbar navbar-expand-lg sticky-top header">
  <div class="container-fluid">
    <div class="logo d-flex">
      <img class="img-logo" src="assets/logo2.png" alt="">
      <span class="logo-text ms-3">online Exam</span>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item p-2 p-lg-3">
          <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item p-2 p-lg-3">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item p-2 p-lg-3">
          <a class="nav-link" routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
        </li>
      </ul>
      <ng-container *ngIf="!(authSrv.isLoggedIn$ | async)">
        <a class="btn rounded-pill main-btn-p me-3" routerLink="/login">Login</a>
        <a class="btn rounded-pill register-btn" routerLink="/signup">Register</a>
      </ng-container>
    </div>
  </div>
</nav>
