<div class="row p-5 home">
  <div class="col-md-7 col-lg-8 home-text d-flex flex-column justify-content-center">
    <h1>Take Online<br><span>Exam.</span></h1>
    <p class="text-black-50 ms-3">Number of active users right now</p>
    <span class="d-block text-center user-num">200+</span>
  </div>
  <div class="col-md-5 col-lg-4 image d-flex align-items-center">
    <img class="img-fluid" src="assets/home.png" alt="home image">
  </div>
</div>
<div class="groups vh-100 row mb-5 align-content-center">
  <!-- <div class="col-md-3 col-lg-4">
    <img class="img-fluid" src="assets/group1.png" alt="">
  </div>
  <div class="col-md-3 col-lg-4">
    <img class="img-fluid" src="assets/group2.png" alt="">
  </div> -->

  <div class="col-lg-4">
    <img class="img-fluid" src="assets/group1.png" alt="">
  </div>
  <div class="col-lg-4">
    <img class="img-fluid" src="assets/group2.png" alt="">
  </div>
  <div class="col-lg-4">
    <img class="img-fluid" src="assets/group3.png" alt="">
  </div>

</div>
